beautifulsoup4==4.7.1
folium==0.10.0
ipykernel==5.1.0
ipython==7.3.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
matplotlib==3.0.3
notebook==6.1.5
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
py==1.8.0
requests==2.21.0
seaborn==0.9.0
selenium==3.141.0